body {
    background-color: #A9A9A9;
}

header {
    background-image: url("/images/Eastham1.jpg");
    padding-bottom: 20px;
    margin-bottom: 20px;

}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 40px;
}

h1 a {

    color: #FFFFFF;
    text-decoration: none;
}

h1 a:hover {

    background-color: red;
}

header img {
    padding-top: 15px;

}


h2 {
    color: #000000;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

h3 {
    color: #000000;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

p {
    color: #000000;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-size: 20px;
}

legend {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    color: #000000;

}

fieldset {

    border: 1px #C1C1C1 thick;
    margin:auto;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.error {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #FF0000;
}

.noError {

}

footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;

}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

.nav li {
    display: inline;
}

.nav a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    background-color: #000000
}

li a:hover {
    background-color: red;
}

table {
    width:100%;
}

table, tr:nth-child(even) {
    background-color: #eee;
}
table, tr:nth-child(odd) {
    background-color: #fff;
}
table, th {
    background-color: black;
    color: white;
}
table, td {
    color: black;
}

table,caption {
    color: black;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

td a{
    text-decoration: none;
    color: blue;

}


#delete
{
    background-color: #4CAF50;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#return
{
    background-color: #FF0000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#update
{
    background-color: #4CAF50;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#enter
{
    background-color: #4CAF50;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#search
{
    background-color: #4CAF50;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}



#success
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width:100%;
    font-size: 22px;
    font-style: italic;
    color: #4CAF50;
    background-color: white;
    text-align: center;
}

label{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-style: bold;

}

form
{
    text-align: center;
}

